ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  display: block;

}

ul li a {
  color: #0d89ec;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

ul li a:hover {
  background-color: #0d89ec;
  color: #fff;
}
